{{- $taxo := "categories" -}}
{{- with .Param $taxo -}}
<div class="meta__item-categories meta__item">
	{{- partial "svg/category.svg" (dict "class" "meta__icon") -}}
	<span class="meta__text">
		{{- range $index, $category := . }}
			{{- $url := urls.Parse ($category | urlize) -}}
			{{- $path := $url.Path -}}
			{{- with $.Site.GetPage (printf "/%s/%s" $taxo $path) }}
				{{- if gt $index 0 }}, {{ end -}}
				<a class="meta__link" href="{{ .RelPermalink }}" rel="category">{{ .Title }}</a>
			{{- end }}
		{{- end }}
	</span>
    <span class="busuanzi_container meta__text" id="busuanzi_container_page_pv">阅读量<span id="busuanzi_value_page_pv"></span>次</span>
</div>
{{- end }}